/*
	* @file: 	style.css
	* 
	* @author: 	Raghav V. Sampangi (raghav@cs.dal.ca)
	* 
	* @desc:	This file styles the list in its current form.
	* 
	* @notes:	As a student working on A3 in CSCI 2170, you are allowed to edit this file. 
	* 			When you edit, include block comments to summarize changes. 
	* 			Clearly highlight the styles and how they impact various sections of the website.
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 80vw;
	min-width: 800px;
	margin: 0 auto;
	padding: 0;
}

h3 {
	color: #2d3436;
}
p, li, label {
	color: #636e72;
}

header {
	background-color: #0984e3;
	color: white;
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
	padding: 1em;
}
header > h1 {
	margin: 0;
	padding: 0;
}

nav#primary-nav {
	min-height: 2em;
	line-height: 30px;
	padding: 1em;
	background-color: black;
	display: flex;
	flex-direction: column;
}

nav#primary-nav > a,
#welcome > a{
	font-weight: bold;
	text-decoration: none;
}

nav#primary-nav > a:link,
nav#primary-nav > a:visited,
#welcome > a:link,
#welcome > a:visited{
	color: white;
}

nav#primary-nav > a:hover,
nav#primary-nav > a:active,
#welcome > a:hover,
#welcome > a:active {
	color: gold;
}

footer {
	border-top: 1px solid gold;
	color: #636e72;
	height: 3em;
	padding: 1em;
}

main {
	min-height: 60vh;
	width: 50vw;
	min-width: 500px;
	margin: 3em auto;
}

form#form-flex-container {
	display: flex;
	flex-direction: column;
}

form input {
	align-items: stretch;
	height: 30px;
	margin: 10px 0px;
}

#check{
	margin-right: 10px;
}
#delete{
	margin-left: 10px;
}
section#list-container {
	margin: 2em 0;
}

#input-username, #input-password {
	width:60%;
}

label{	
	font-size:larger;
	display: inline-block;
	text-align: justify;
	width: 205px;
}
h4{
	color: red;
	text-align: center;
	display: none;
	font-style: italic;
}

/* Style to mark a list item as complete */
.complete {
	text-decoration: line-through;
	font-style: italic;
}

